body {
  background-color: #F8F9FA;
  height: 100%;
}

.rotate-logo {
  animation: rotation 8s infinite linear;
  margin-top: 30vh;
  max-width: 30vw;
  height: auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.flex-container > input {
  margin-right: 10px;
}

.flex-column-container {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.button {
  background-color: none;
  color: #2D8CFF;
}