body {
  background-color: #F8F9FA;
  height: 100%;
}

.logo {
  margin-top: 30vh;
  max-width: 30vw;
  height: auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 20px;
}

.flex-container > input, select {
  margin-right: 10px;
}

.flex-column-container {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.button {
  background-color: none;
  color: #2D8CFF;
}

.flex-radio {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.flex {
  display: flex;
}
